.root {
    --background-color: #f1f1f1;
    --container-bg-color: #fff;
    --primary-color: lightblue;
    --secondary-color: lavenderblush;
    --text-color: white;
    --shadow-color: rgba(0, 0, 0, 0.1);
}

body {
    background-color: var(--background-color);
    font-family: 'Roboto', sans-serif;
    margin: 8px;
}

.container {
    display: flex;
    width: 80%;
    margin: 0 auto;
    background-color: var(--container-bg-color);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px var(--shadow-color);
}

.left-column {
    background-color: var(--primary-color);
    width: 35%;
    padding: 20px;
    box-sizing: border-box;
    color: var(--text-color);
}

.right-column {
    width: 65%;
    padding: 20px;
    box-sizing: border-box;
    background-color: var(--container-bg-color);
}

.profile-photo {
    width: 100%;
    border-radius: 8px;
}

.avatar {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}

.basic-info, .skills {
    margin: 10px 0;
}

.basic-info i, .skills i {
    margin-right: 8px;
}

.skills {
    margin-top: 20px;
}

.progress {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    margin-bottom: 10px;
    overflow: hidden;
    height: 20px;
}

.progress-fill {
    background-color: var(--secondary-color);
    height: 100%;
    color: var(--text-color);
    text-align: center;
    line-height: 20px;
    font-size: 14px;
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: var(--primary-color);
    margin-top: 20px;
    border-radius: 8px;
}

.w3-container ul {
    list-style: none;
    padding: 0;
}

.w3-container ul li {
    margin-bottom: 10px;
}

